<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <Navigation></Navigation>
    <ProductListing/>
  </div>
</template>

<script>
import ProductListing from './components/ProductListing.vue'
import Navigation from "./components/Navigation";

export default {
  name: 'AppProduct',
  components: {
    Navigation,
    ProductListing
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
