<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <Navigation></Navigation>
    <TransactionListing/>
  </div>
</template>

<script>
import TransactionListing from './components/TransactionListing.vue'
import Navigation from "./components/Navigation";

export default {
  name: 'AppTransaction',
  components: {
    Navigation,
    TransactionListing
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
