<template>
  <div class="clientListing">
    <h3 class="p-3 text-center">Display a list of all Clients</h3>
    <table class="table table-striped table-bordered center">
      <thead>
        <tr>
          <th>User Id</th>
          <th>Name</th>
          <th>Address</th>
          <th>Country</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="client in clients" :key="client.id">
          <td v-if="editId !== client.id">{{ client.user_id }}</td>
          <td v-if="editId !== client.id">{{ client.name }}</td>
          <td v-if="editId !== client.id">{{ client.address }}</td>
          <td v-if="editId !== client.id">{{ client.country }}</td>
          <td v-if="editId === client.id">
            <input v-model="editModel.user_id" />
          </td>
          <td v-if="editId === client.id">
            <input v-model="editModel.name" />
          </td>
          <td v-if="editId === client.id">
            <input v-model="editModel.address" />
          </td>
          <td v-if="editId === client.id">
            <input v-model="editModel.country" />
          </td>
          <td>
            <button
              v-if="editId !== client.id"
              v-on:click="deleteClient(client.id)"
            >
              delete
            </button>
            <button
              v-if="editId !== client.id"
              v-on:click="editClient(client.id)"
            >
              edit
            </button>
            <button v-if="editId === client.id" v-on:click="cancelEdit()">
              cancel
            </button>
            <button v-if="editId === client.id" v-on:click="submitEdit(editId)">
              submit
            </button>
          </td>
        </tr>
        <tr v-if="newModel != null">
          <td><input v-model="newModel.user_id" /></td>
          <td><input v-model="newModel.name" /></td>
          <td><input v-model="newModel.address" /></td>
          <td><input v-model="newModel.country" /></td>
          <td>
            <button v-on:click="cancelNew()">cancel</button>
            <button v-on:click="saveNew()">save</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button v-if="newModel == null" v-on:click="newE()">add</button>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      editId: null,
      clients: null,
      editModel: {},
      newModel: null,
    };
  },
  methods: {
    deleteClient: function (id) {
      axios.delete("http://localhost:8000/admin/clients/" + id).then(
        () => {
          this.clients = this.clients.filter((e) => e.id !== id);
        },
        () => {
          console.log("error during deletion");
        }
      );
    },
    editClient: function (id) {
      this.editId = id;
      const client = this.clients.find((e) => e.id === id);
      this.editModel = {
        user_id: client?.user_id,
        name: client?.name,
        address: client?.address,
        country: client?.country,
      };
    },
    cancelEdit: function () {
      this.editId = null;
    },
    submitEdit: function (id) {
      axios.patch("http://localhost:8000/admin/clients/" + id, this.editModel).then(
        () => {
          this.editId = null;
          axios.get("http://localhost:8000/clients").then((res) => {
            this.clients = res.data;
            this.newModel = null;
          });
        },
        () => {
          console.log("error during deletion");
        }
      );
    },
    newE: function () {
      this.newModel = {};
    },
    cancelNew: function () {
      this.newModel = null;
    },
    saveNew: function () {
      axios.post("http://localhost:8000/admin/clients", this.newModel).then(
        () => {
          axios.get("http://localhost:8000/clients").then((res) => {
            this.clients = res.data;
            this.newModel = null;
          });
        },
        () => {
          console.log("error during deletion");
        }
      );
      this.newModel = {};
    },
  },
  created() {
    axios.get("http://localhost:8000/clients").then((res) => {
      this.clients = res.data;
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

td {
  text-align: left;
  padding: 5px;
}
</style>
