<template>
  <div class="companyListing">
    <h3 class="p-3 text-center">Display a list of all Companies</h3>
    <table class="table table-striped table-bordered center">
      <thead>
        <tr>
          <th>Name</th>
          <th>Balance Amount</th>
          <th>Country</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="company in companies" :key="company.id">
          <td v-if="editId !== company.id">{{ company.name }}</td>
          <td v-if="editId !== company.id">{{ company.balance_amount }}</td>
          <td v-if="editId !== company.id">{{ company.country }}</td>
          <td v-if="editId === company.id">
            <input v-model="editModel.name" />
          </td>
          <td v-if="editId === company.id">
            <input v-model="editModel.balance_amount" />
          </td>
          <td v-if="editId === company.id">
            <input v-model="editModel.country" />
          </td>
          <td>
            <button
              v-if="editId !== company.id"
              v-on:click="deleteCompany(company.id)"
            >
              delete
            </button>
            <button
              v-if="editId !== company.id"
              v-on:click="editCompany(company.id)"
            >
              edit
            </button>
            <button v-if="editId === company.id" v-on:click="cancelEdit()">
              cancel
            </button>
            <button v-if="editId === company.id" v-on:click="submitEdit(editId)">
              submit
            </button>
          </td>
        </tr>
        <tr v-if="newModel != null">
          <td><input v-model="newModel.name" /></td>
          <td><input v-model="newModel.balance_amount" /></td>
          <td><input v-model="newModel.country" /></td>
          <td>
            <button v-on:click="cancelNew()">cancel</button>
            <button v-on:click="saveNew()">save</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button v-if="newModel == null" v-on:click="newE()">add</button>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      editId: null,
      companies: null,
      editModel: {},
      newModel: null,
    };
  },
  methods: {
    deleteCompany: function (id) {
      axios.delete("http://localhost:8000/admin/companies/" + id).then(
        () => {
          this.companies = this.companies.filter((e) => e.id !== id);
        },
        () => {
          console.log("error during deletion");
        }
      );
    },
    editCompany: function (id) {
      this.editId = id;
      const company = this.companies.find((e) => e.id === id);
      this.editModel = {
        name: company?.name,
        balance_amount: company?.balance_amount,
        country: company?.country,
      };
    },
    cancelEdit: function () {
      this.editId = null;
    },
    submitEdit: function (id) {
      axios.patch("http://localhost:8000/admin/companies/" + id, this.editModel).then(
        () => {
          this.editId = null;
          axios.get("http://localhost:8000/companies").then((res) => {
            this.companies = res.data;
            this.newModel = null;
          });
        },
        () => {
          console.log("error during deletion");
        }
      );
    },
    newE: function () {
      this.newModel = {};
    },
    cancelNew: function () {
      this.newModel = null;
    },
    saveNew: function () {
      axios.post("http://localhost:8000/admin/companies", this.newModel).then(
        () => {
          axios.get("http://localhost:8000/companies").then((res) => {
            this.companies = res.data;
            this.newModel = null;
          });
        },
        () => {
          console.log("error during deletion");
        }
      );
      this.newModel = {};
    },
  },
  created() {
    axios.get("http://localhost:8000/companies").then((res) => {
      this.companies = res.data;
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

td {
  text-align: left;
  padding: 5px;
}
</style>
