<template>
  <div class="employeeListing">
    <h3 class="p-3 text-center">Display a list of all Employees</h3>
    <table class="table table-striped table-bordered center">
      <thead>
        <tr>
          <th>User Id</th>
          <th>Name</th>
          <th>Country</th>
          <th>Birthday</th>
          <th>First day in the company</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="employee in employees" :key="employee.id">
          <td v-if="editId !== employee.id">{{ employee.user_id }}</td>
          <td v-if="editId !== employee.id">{{ employee.name }}</td>
          <td v-if="editId !== employee.id">{{ employee.country }}</td>
          <td v-if="editId !== employee.id">{{ employee.birthday }}</td>
          <td v-if="editId !== employee.id">{{ employee.starting_day }}</td>
          <td v-if="editId === employee.id">
            <input v-model="editModel.user_id" />
          </td>
          <td v-if="editId === employee.id">
            <input v-model="editModel.name" />
          </td>
          <td v-if="editId === employee.id">
            <input v-model="editModel.country" />
          </td>
          <td v-if="editId === employee.id">
            <input v-model="editModel.birthday" />
          </td>
          <td v-if="editId === employee.id">
            <input v-model="editModel.starting_day" />
          </td>
          <td>
            <button
              v-if="editId !== employee.id"
              v-on:click="deleteEmployee(employee.id)"
            >
              delete
            </button>
            <button
              v-if="editId !== employee.id"
              v-on:click="editEmployee(employee.id)"
            >
              edit
            </button>
            <button v-if="editId === employee.id" v-on:click="cancelEdit()">
              cancel
            </button>
            <button v-if="editId === employee.id" v-on:click="submitEdit(editId)">
              submit
            </button>
          </td>
        </tr>
        <tr v-if="newModel != null">
          <td><input v-model="newModel.user_id" /></td>
          <td><input v-model="newModel.name" /></td>
          <td><input v-model="newModel.country" /></td>
          <td><input v-model="newModel.birthday" /></td>
          <td><input v-model="newModel.starting_day" /></td>
          <td>
            <button v-on:click="cancelNew()">cancel</button>
            <button v-on:click="saveNew()">save</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button v-if="newModel == null" v-on:click="newE()">add</button>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      editId: null,
      employees: null,
      editModel: {},
      newModel: null,
    };
  },
  methods: {
    deleteEmployee: function (id) {
      axios.delete("http://localhost:8000/admin/employees/" + id).then(
        () => {
          this.employees = this.employees.filter((e) => e.id !== id);
        },
        () => {
          console.log("error during deletion");
        }
      );
    },
    editEmployee: function (id) {
      this.editId = id;
      const employee = this.employees.find((e) => e.id === id);
      this.editModel = {
        user_id: employee?.user_id,
        name: employee?.name,
        country: employee?.country,
        birthday: employee?.birthday,
        starting_day: employee?.starting_day,
      };
    },
    cancelEdit: function () {
      this.editId = null;
    },
    submitEdit: function (id) {
      axios.patch("http://localhost:8000/admin/employees/" + id, this.editModel).then(
        () => {
          this.editId = null;
          axios.get("http://localhost:8000/employees").then((res) => {
            this.employees = res.data;
            this.newModel = null;
          });
        },
        () => {
          console.log("error during update");
        }
      );
    },
    newE: function () {
      this.newModel = {};
    },
    cancelNew: function () {
      this.newModel = null;
    },
    saveNew: function () {
      axios.post("http://localhost:8000/admin/employees", this.newModel).then(
        () => {
          axios.get("http://localhost:8000/employees").then((res) => {
            this.employees = res.data;
            this.newModel = null;
          });
        },
        () => {
          console.log("error during deletion");
        }
      );
      this.newModel = {};
    },
  },
  created() {
    axios.get("http://localhost:8000/employees").then((res) => {
      this.employees = res.data;
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

td {
  text-align: left;
  padding: 5px;
}
</style>
