<template>
  <div class="navigation">
    <a href="/employee" style="padding-right: 10px">Employees</a>
    <a href="/provider" style="padding-right: 10px">Providers</a>
    <a href="/product" style="padding-right: 10px">Products</a>
    <a href="/client" style="padding-right: 10px">Clients</a>
    <a href="/company" style="padding-right: 10px">Companies</a>
    <a href="/transaction" style="padding-right: 10px">Transactions</a>
  </div>
</template>

<script>
export default {
  data() {
        return {

        };
    }
};
</script>

<style scoped>

</style>
