<template>
  <div class="productListing">
    <h3 class="p-3 text-center">Display a list of all Products</h3>
    <table class="table table-striped table-bordered center">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Tax</th>
          <th>Stock</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in products" :key="product.id">
          <td v-if="editId !== product.id">{{ product.name }}</td>
          <td v-if="editId !== product.id">{{ product.price }}</td>
          <td v-if="editId !== product.id">{{ product.tax }}</td>
          <td v-if="editId !== product.id">{{ product.stock }}</td>
          <td v-if="editId === product.id">
            <input v-model="editModel.name" />
          </td>
          <td v-if="editId === product.id">
            <input v-model="editModel.price" />
          </td>
          <td v-if="editId === product.id">
            <input v-model="editModel.tax" />
          </td>
          <td v-if="editId === product.id">
            <input v-model="editModel.stock" />
          </td>
          <td>
            <button
              v-if="editId !== product.id"
              v-on:click="deleteProduct(product.id)"
            >
              delete
            </button>
            <button
              v-if="editId !== product.id"
              v-on:click="editProduct(product.id)"
            >
              edit
            </button>
            <button v-if="editId === product.id" v-on:click="cancelEdit()">
              cancel
            </button>
            <button v-if="editId === product.id" v-on:click="submitEdit(editId)">
              submit
            </button>
          </td>
        </tr>
        <tr v-if="newModel != null">
          <td><input v-model="newModel.name" /></td>
          <td><input v-model="newModel.price" /></td>
          <td><input v-model="newModel.tax" /></td>
          <td><input v-model="newModel.stock" /></td>
          <td>
            <button v-on:click="cancelNew()">cancel</button>
            <button v-on:click="saveNew()">save</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button v-if="newModel == null" v-on:click="newE()">add</button>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      editId: null,
      products: null,
      editModel: {},
      newModel: null,
    };
  },
  methods: {
    deleteProduct: function (id) {
      axios.delete("http://localhost:8000/admin/products/" + id).then(
        () => {
          this.products = this.products.filter((e) => e.id !== id);
        },
        () => {
          console.log("error during deletion");
        }
      );
    },
    editProduct: function (id) {
      this.editId = id;
      const product = this.products.find((e) => e.id === id);
      this.editModel = {
        name: product?.name,
        price: product?.price,
        tax: product?.tax,
        stock: product?.stock,
      };
    },
    cancelEdit: function () {
      this.editId = null;
    },
    submitEdit: function (id) {
      axios.patch("http://localhost:8000/admin/products/" + id, this.editModel).then(
        () => {
          this.editId = null;
          axios.get("http://localhost:8000/products").then((res) => {
            this.products = res.data;
            this.newModel = null;
          });
        },
        () => {
          console.log("error during deletion");
        }
      );
    },
    newE: function () {
      this.newModel = {};
    },
    cancelNew: function () {
      this.newModel = null;
    },
    saveNew: function () {
      axios.post("http://localhost:8000/admin/products", this.newModel).then(
        () => {
          axios.get("http://localhost:8000/products").then((res) => {
            this.products = res.data;
            this.newModel = null;
          });
        },
        () => {
          console.log("error during deletion");
        }
      );
      this.newModel = {};
    },
  },
  created() {
    axios.get("http://localhost:8000/products").then((res) => {
      this.products = res.data;
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

td {
  text-align: left;
  padding: 5px;
}
</style>
