<template>
  <div class="providerListing">
    <h3 class="p-3 text-center">Display a list of all Providers</h3>
    <table class="table table-striped table-bordered center">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Country</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="provider in providers" :key="provider.id">
          <td v-if="editId !== provider.id">{{ provider.name }}</td>
          <td v-if="editId !== provider.id">{{ provider.address }}</td>
          <td v-if="editId !== provider.id">{{ provider.country }}</td>
          <td v-if="editId === provider.id">
            <input v-model="editModel.name" />
          </td>
          <td v-if="editId === provider.id">
            <input v-model="editModel.address" />
          </td>
          <td v-if="editId === provider.id">
            <input v-model="editModel.country" />
          </td>
          <td>
            <button
              v-if="editId !== provider.id"
              v-on:click="deleteProvider(provider.id)"
            >
              delete
            </button>
            <button
              v-if="editId !== provider.id"
              v-on:click="editProvider(provider.id)"
            >
              edit
            </button>
            <button v-if="editId === provider.id" v-on:click="cancelEdit()">
              cancel
            </button>
            <button v-if="editId === provider.id" v-on:click="submitEdit(editId)">
              submit
            </button>
          </td>
        </tr>
        <tr v-if="newModel != null">
          <td><input v-model="newModel.name" /></td>
          <td><input v-model="newModel.address" /></td>
          <td><input v-model="newModel.country" /></td>
          <td>
            <button v-on:click="cancelNew()">cancel</button>
            <button v-on:click="saveNew()">save</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button v-if="newModel == null" v-on:click="newE()">add</button>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      editId: null,
      providers: null,
      editModel: {},
      newModel: null,
    };
  },
  methods: {
    deleteProvider: function (id) {
      axios.delete("http://localhost:8000/admin/providers/" + id).then(
        () => {
          this.providers = this.providers.filter((e) => e.id !== id);
        },
        () => {
          console.log("error during deletion");
        }
      );
    },
    editProvider: function (id) {
      this.editId = id;
      const provider = this.providers.find((e) => e.id === id);
      this.editModel = {
        name: provider?.name,
        address: provider?.address,
        country: provider?.country,
      };
    },
    cancelEdit: function () {
      this.editId = null;
    },
    submitEdit: function (id) {
      axios.patch("http://localhost:8000/admin/providers/" + id, this.editModel).then(
        () => {
          this.editId = null;
          axios.get("http://localhost:8000/providers").then((res) => {
            this.providers = res.data;
            this.newModel = null;
          });
        },
        () => {
          console.log("error during deletion");
        }
      );
    },
    newE: function () {
      this.newModel = {};
    },
    cancelNew: function () {
      this.newModel = null;
    },
    saveNew: function () {
      axios.post("http://localhost:8000/admin/providers", this.newModel).then(
        () => {
          axios.get("http://localhost:8000/providers").then((res) => {
            this.providers = res.data;
            this.newModel = null;
          });
        },
        () => {
          console.log("error during deletion");
        }
      );
      this.newModel = {};
    },
  },
  created() {
    axios.get("http://localhost:8000/providers").then((res) => {
      this.providers = res.data;
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

td {
  text-align: left;
  padding: 5px;
}
</style>
