<template>
  <div class="transactionListing">
    <h3 class="p-3 text-center">Display a list of all Transactions</h3>
    <table class="table table-striped table-bordered center">
      <thead>
        <tr>
          <th>Transaction Amount</th>
          <th>Transaction Type</th>
          <th>Buyer Id</th>
          <th>Seller Id</th>
          <th>Quantity</th>
          <th>Product Id</th>
          <th>Employee Id</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="transaction in transactions" :key="transaction.id">
          <td v-if="editId !== transaction.id">{{ transaction.transaction_amount }}</td>
          <td v-if="editId !== transaction.id">{{ transaction.transaction_type }}</td>
          <td v-if="editId !== transaction.id">{{ transaction.buyer_id }}</td>
          <td v-if="editId !== transaction.id">{{ transaction.seller_id }}</td>
          <td v-if="editId !== transaction.id">{{ transaction.product_quantity }}</td>
          <td v-if="editId !== transaction.id">{{ transaction.product_id }}</td>
          <td v-if="editId !== transaction.id">{{ transaction.employee_id }}</td>
          <td v-if="editId === transaction.id">
            <input v-model="editModel.transaction_amount" />
          </td>
          <td v-if="editId === transaction.id">
            <input v-model="editModel.transaction_type" />
          </td>
          <td v-if="editId === transaction.id">
            <input v-model="editModel.buyer_id" />
          </td>
          <td v-if="editId === transaction.id">
            <input v-model="editModel.seller_id" />
          </td>
          <td v-if="editId === transaction.id">
            <input v-model="editModel.product_quantity" />
          </td>
          <td v-if="editId === transaction.id">
            <input v-model="editModel.product_id" />
          </td>
          <td v-if="editId === transaction.id">
            <input v-model="editModel.employee_id" />
          </td>
          <td>
            <button
              v-if="editId !== transaction.id"
              v-on:click="deleteTransaction(transaction.id)"
            >
              delete
            </button>
            <button
              v-if="editId !== transaction.id"
              v-on:click="editTransaction(transaction.id)"
            >
              edit
            </button>
            <button v-if="editId === transaction.id" v-on:click="cancelEdit()">
              cancel
            </button>
            <button v-if="editId === transaction.id" v-on:click="submitEdit(editId)">
              submit
            </button>
          </td>
        </tr>
        <tr v-if="newModel != null">
          <td><input v-model="newModel.transaction_amount" /></td>
          <td><input v-model="newModel.transaction_type" /></td>
          <td><input v-model="newModel.buyer_id" /></td>
          <td><input v-model="newModel.seller_id" /></td>
          <td><input v-model="newModel.product_quantity" /></td>
          <td><input v-model="newModel.product_id" /></td>
          <td><input v-model="newModel.employee_id" /></td>
          <td>
            <button v-on:click="cancelNew()">cancel</button>
            <button v-on:click="saveNew()">save</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button v-if="newModel == null" v-on:click="newE()">add</button>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      editId: null,
      transactions: null,
      editModel: {},
      newModel: null,
    };
  },
  methods: {
    deleteTransaction: function (id) {
      axios.delete("http://localhost:8000/admin/transactions/" + id).then(
        () => {
          this.transactions = this.transactions.filter((e) => e.id !== id);
        },
        () => {
          console.log("error during deletion");
        }
      );
    },
    editTransaction: function (id) {
      this.editId = id;
      const transaction = this.transactions.find((e) => e.id === id);
      this.editModel = {
        transaction_amount: transaction?.transaction_amount,
        transaction_type: transaction?.transaction_type,
        buyer_id: transaction?.buyer_id,
        seller_id: transaction?.seller_id,
        product_quantity: transaction?.product_quantity,
        product_id: transaction?.product_id,
        employee_id: transaction?.employee_id,
      };
    },
    cancelEdit: function () {
      this.editId = null;
    },
    submitEdit: function (id) {
      axios
        .patch("http://localhost:8000/admin/transactions/" + id, this.editModel)
        .then(
          () => {
            this.editId = null;
            axios.get("http://localhost:8000/transactions").then((res) => {
              this.transactions = res.data;
              this.newModel = null;
            });
          },
          () => {
            console.log("error during deletion");
          }
        );
    },
    newE: function () {
      this.newModel = {};
    },
    cancelNew: function () {
      this.newModel = null;
    },
    saveNew: function () {
      axios
        .post("http://localhost:8000/admin/transactions", this.newModel)
        .then(
          () => {
            axios.get("http://localhost:8000/transactions").then((res) => {
              this.transactions = res.data;
              this.newModel = null;
            });
          },
          () => {
            console.log("error during deletion");
          }
        );
      this.newModel = {};
    },
  },
  created() {
    axios.get("http://localhost:8000/transactions").then((res) => {
      this.transactions = res.data;
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

table {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

td {
  text-align: left;
  padding: 5px;
}
</style>
